*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    background-image: url("../img/mountain_backdrop.jpeg");
    background-size:contain;

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: 80px 600px 600px;
    grid-template-areas: 
    "hea hea hea"
    "as1 ar1 as2"
    "as1 ar1 as2"
    
    ;
    gap: 20px;
    
}
#homeimage {
    max-width: 75px;
    max-height: 75px;
}

header {
    grid-area: hea;
    background: rgb(15, 104, 193);
    
}
#aside_1 {
    
    grid-area: as1;
}

#aside_2 {
    background: brown;
    grid-area: as2;
}

#article_1 {
    background: purple;
    grid-area: ar1;
    
}
#section_2 {
    background: green;
    grid-area: se2;
}
